body{
    font-family: "Montserrat";
    text-align: center;
}
.colored-section{
    background-color: #6739B6;
    color: #fff;
    
}
.grey-section{
    background-color: #f5f5f5;
  }
.navbar-brand img{
    width: 250px;
    height: auto;
  }
.navbar{
    padding:0 0 4.5rem;
}
.push-right{
    justify-content: flex-end;
}
.navbar a{
    
}