body{
    font-family: "Montserrat";
    text-align: center;
}
.colored-section{
    background-color: #6739B6;
    color: #fff;
}
.grey-section{
    background-color: #f5f5f5;
  }
.navbar-brand img{
    width: 250px;
    height: auto;
  }
.navbar{
    padding:0 0 4.5rem;
}
.push-right{
    justify-content: flex-end;
}
.navbar a{
    color:rgba(255,255,255,.5);
    font-size: 1.2rem;
}
.nav-link{
    padding-left: 30px!important;
    padding-right: 30px!important;
  }
.container-fluid{
    padding: 1% 10% 9%;
}
.big-head{
    font-family: "montserrat",sans-serif;
    font-weight: 700;
    font-size: 3em;
    line-height: 1.5;
}
.download-button{
    margin: 5% 10% ;
}